element.style {
}
@media (max-width: 767px)
style.css?ver=4.8.2:62
html {
    font-size: 14px;
}
@media (max-width: 991px)
style.css?ver=4.8.2:56
html {
    font-size: 15px;
}
style.css?ver=4.8.2:49
html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
}
style.css?ver=4.8.2:43
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
bootstrap.min.css?ver=4.0.0:5
html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}
bootstrap.min.css?ver=4.0.0:5
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
bootstrap.min.css?ver=4.0.0:5
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
bootstrap.min.css?ver=4.0.0:5
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html[Attributes Style] {
    -webkit-locale: "en-GB";
}
user agent stylesheet
html {
    display: block;
}
Pseudo ::before element
bootstrap.min.css?ver=4.0.0:5
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
Pseudo ::after element
bootstrap.min.css?ver=4.0.0:5
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

Pseudo ::selection element
style.css?ver=4.8.2:96
::selection {
    background: #000000;
    color: #FFFFFF;
}ement.style {
}
@media (max-width: 767px)
style.css?ver=4.8.2:62
html {
    font-size: 14px;
}
@media (max-width: 991px)
style.css?ver=4.8.2:56
html {
    font-size: 15px;
}
style.css?ver=4.8.2:49
html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
}
style.css?ver=4.8.2:43
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
bootstrap.min.css?ver=4.0.0:5
html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}
bootstrap.min.css?ver=4.0.0:5
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
bootstrap.min.css?ver=4.0.0:5
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
bootstrap.min.css?ver=4.0.0:5
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html[Attributes Style] {
    -webkit-locale: "en-GB";
}
user agent stylesheet
html {
    display: block;
}
Pseudo ::before element
bootstrap.min.css?ver=4.0.0:5
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
Pseudo ::after element
bootstrap.min.css?ver=4.0.0:5
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

Pseudo ::selection element
style.css?ver=4.8.2:96
::selection {
    background: #000000;
    color: #FFFFFF;
}
